#root {
  color: red;
   /* background-color: beige;  */
   /* border: 5px solid royalblue;  */
  
}

/* * {
  margin: 0;
  padding: 0;
} */

  .grid-container{
  
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 2rem;
  row-gap: 2rem;
  height: 30px; 
  width: 70vw;
  margin-left: 2rem;
  
}   
   .episode-select{    
  border: 5px solid black;  
  margin-left: 2rem;  
  height: 2rem; 
  margin-top: 1rem; 
 }       
     

   
  
   .search-input{  
    border: 5px solid blue; 
    height: 1.5rem;  
    margin-left: 40rem;         
    /* margin-top: 2rem;  */
  
  }
  .episode-count{  
   border: 5px solid black; 
   margin-left: 55rem; 
   margin-top: -2rem; 
   width: 20rem; 
  
}  
.movie-select{
  border: 5px solid red;
  margin-left: 2rem;
}
  
.grid-item{
  border: 3px solid lightsalmon;
  border-radius: 1rem;
  margin-top: 2rem;
  background-color: brown;
  
}  

  

  .episode-title-elem{
  border: 5px solid burlywood;
  border-radius: 1rem;
  background-color: beige;
  font-size: larger;
  text-align: center;
  padding: 1rem;
  margin-top: -0.3rem;
  
  
}  
 img{
  margin-top: 4rem;
  margin-left: 2rem;
  margin-right: 1rem;
  
  
}   
 .summary-elem{
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  color: white;
}    

 .filter-container{ 
   display: flex; 
   justify-content: space-evenly;
   /* border: 5px solid green;  */
  /* width: 12rem; */
  margin-left: 15rem;
  margin-top: 2rem;
  margin-bottom: 2rem; 
 }  
.show-name{ 
  border: 5px solid black; 
   margin-left: 2rem; 
 }  
  .show-summary{ 
   border: 5px solid blue; 
  width: 50rem;
  margin-left: 1.5rem;
  font-size: 22px;
  /* margin-top: -15rem; */
 }  
  .show{ 
  /* display: flex;  */
   border:5px solid red; 
   margin-top: 1rem; 
  /* height: 30px; */
    /* width: 80vw; */

}  

 /* .show-genres{
   margin-left: 70rem;
  margin-top: 13rem;
}   */

   .show-image{
  margin-left: 2rem;
  margin-bottom: 2rem;
}  

 /* .show-details{
  display: flex;
  
}  */
 .details-container{
  
  margin-left: 70rem;
  display: flex;
  flex-direction: column;
  column-gap: 1rem;  
  
  /* justify-content: space-between; */
  /* border: 5px solid black; */
  /* width: 20rem; */
  /* margin-top: -8rem; */
}
 /* .show-genres{
  margin-top: -12rem;
  
}
.status-div{
  margin-top: 1rem;
}   */